<%- include("./partials/header.ejs") %>

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agent Dashboard</title>
    <link rel="stylesheet" href="/public/style.css">
</head> -->
<header class="user-dashboard">
    <header class="main-header">
        <h1>Welcome, <%= userName %>!</h1>
        <nav>
            <ul>
                    <li><a href="/admin-view-all-tickets">View All Tickets</a></li>
                    <li><a href="/admin-view-all-users">View All Users</a></li>
                    <li><a href="/login">log in </a></li>
                    <li><a href="/logout">Logout</a></li>
                    <li><a href="/signup">Create account</a></li>
            </ul>
        </nav>
        <!-- <div>
            <a href="/signup" class="signup-button">Create account</a>
        </div> -->
    </header>


    <main class="main-content">
        <section class="ticket-section">
            <p>As an Admin, you have access to view and manage all tickets.</p>
            <!-- Display tickets here -->
            <p>Manage all users of the system here.</p>
            <!-- Display users here -->
        </section>
    </main>
</body>


</html>

<%- include("./partials/footer.ejs") %>

