<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css"> <!-- Din CSS-fil -->
    <title>Login</title>
    <header class="main-header">
        <div class="container">
            <nav>
                <ul class="nav-list">
                    <li><a href="/">Home</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- <title>Ticketing System</title> -->
        <link rel="stylesheet" href="/style.css">
    
    </head>

    
    <body>
        <div class="ticketing-container">    
            <div class="auth-switch-container">
                <!-- Switch Controls -->
                <div class="switch-buttons">
                    <h1 id="switch-to-login" class="active">Log In</h1>
                </div>
                
                <!-- Auth Boxes -->
                <div class="auth-box-container">
                    <!-- Log In Box -->
                    <div class="auth-box login-box active">
                        <form action="/login" method="POST">
                            <div class="input-group">
                                <label for="email">Email:</label>
                                <input type="email" id="email" name="email" required>
                            </div>
    
                            <div class="input-group">
                                <label for="password">Password:</label>
                                <input type="password" id="password" name="password" required>
                            </div>
    
                            <button class="submit-btn" type="submit">Log In</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    
</body>
</html>
<%- include("./partials/footer.ejs") %>
