<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ticketing System</title>
    <link rel="stylesheet" href="/style.css">

    <header class="main-header">
        <div class="container">
            <h1>Ticketing System</h1>
            <nav>
                <ul class="nav-list">
                    <li><a href="/">Home</a></li>
                    <li><a href="/login">log in</a></li>
                    <li><a href="/signup">Create account</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="main-content">

    <h1>You have been logged out</h1>
    <p><a href="/login" class="btn">Click here to log in again</a></p>    
</body>
</html>
</main>
