<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css"> <!-- Din CSS-fil -->
    <title>Login</title>
    <header class="main-header">
        <div class="container">
            <nav>
                <ul class="nav-list">
                    <li><a href="/admin-view-all-tickets">View All Tickets</a></li>
                    <li><a href="/admin-view-all-users">View All Users</a></li>
                    <li><a href="/logout">Logout</a></li>  
                    <li><a href="/signup">Create account</a></li>  
                </ul>
            </nav>
        </div>
    </header>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- <title>Ticketing System</title> -->
        <link rel="stylesheet" href="/style.css">
    
    </head>

<body>
    <div class="container">
        <h1>Account Created Successfully!</h1>
        <p>Congratulations, <%= name %>! Your account has been created. You can now <a href="/login">log in</a>.</p>
    </div>
</body>
</html>
